@import 'tailwindcss';
@import "@fontsource-variable/inter";
/* @import "@fontsource-variable/inter/600.css	 */
/* @import "@fontsource-variable/inter/600.css"; */
/* @import "@fontsource-variable/inter/400.css"; */
/* @import "@fontsource-variable/inter/400-italic.css"; */
@import "@fontsource/noto-serif-display/700.css"; 
@import "@fontsource/noto-serif-display/600.css";  
@import "@fontsource/noto-serif-display/400.css"; 
@import "@fontsource/noto-serif-display/400-italic.css"; 
/* 
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography'; */


:root {
	/* --font-mono: 'Inter Variable', sans-serif; */
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #D23939;
	--color-text: #0A0909
	--column-width: 42rem;
	--column-margin-top: 4rem;
	color: var(--color-text);
	--font-heading: 110px;
	
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background: #bba378;

inset: 0;
background-image: url('./lib/images/clean-gray-paper.png');
background-repeat: repeat;
opacity: 1;
mix-blend-mode: normal;
}

h1 {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	
	
	text-decoration: none;
}

a:hover {
	color: var(--color-theme-1);
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}
button:hover{
	cursor: pointer;
}

input,
button {
	font-size: inherit;
	/* font-family: var(--font-mono); */
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.custom-dashed-border {
	border: 1.5px dashed transparent;
	border-image: repeating-linear-gradient(40deg, #000 0 10px, transparent 8px 18px) 1;
  }
  